<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default fixed-panel panel-transparent">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user_full_name %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag @user_full_name.profile_image.url, class:'avatar' %>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default panel-transparent">
      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>
      <div class="panel-body">
        <% if current_user %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= render 'posts/form' %></p>
          </div>
        </div>
        <% end %>
        <p class="greenText">Spacebook [Version 1.6.5 Alpha]</p>
        <p class="greenText">Copyright 2016 (c) Space Corporation. All rights reserved.</p>
        <br>
        <div class="line"></div>
        <br>
        <% @posts.each do |post| %>
            <p class="greenText"><%= post.content %></p>
            <p class="greenText"><%= image_tag post.image.url, class:'avatar' %></p>
            <p class="greenText">Posted by: <%= link_to post.user, profile_path(id: post.user_id), style: 'color: lime' %></p>
            <p class="greenText"><%= post.created_at %></p>
            <% if current_user %>
                <% if current_user.id == post.user_id or current_user.id == post.profile_id %>
                    <p class="greenText">Options: <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color: lime' %></p>
                <% end %>
            <% end %>
            <br>
            <div class="line"></div>
            <br>
        <% end %>
        <p class="greenText">C:\users\<%= @user_full_name %>\messages>_</p>

      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default fixed-panel panel-transparent">
      <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>